.main-container { width: 960px; margin: 0 auto; padding: 10px; }
@media all and (max-width: 767px) { .main-container { width: auto; margin: 0; } }
body { font-family: "proxima-nova", sans-serif; font-weight: 100; }
body.skip-animations * {
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -ms-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}
h1, h2, h3, h4, h5, h6 { font-family: "proxima-nova", sans-serif; color: #666; font-weight: 300; margin-top: 50px; }
h1 { font-size: 48px; }
h2 { margin-top: 42px; font-weight: 100; }
.single-post h2 {
  text-align: center;
  color: #47d17c;
}
a { color: #47d17c; text-decoration: none; }
a:hover { color: #2eb863; }
.sidebar ul { list-style-type: none; padding-left: 0px; }
.sidebar li { padding-bottom: 10px; }
ul, ol { padding-left: 20px; }
p {
  font-weight: 300;
  color: #777;
}
img { margin: 0 auto; }

.top-bar { background: #fafafa; margin-bottom: 0; }
.top-bar .name h1 a { color: #47d17c; }
.top-bar-section ul li a { text-transform: uppercase; letter-spacing: 1px; }
.top-bar-section ul li.active>a, .top-bar-section ul li>a  { color: #999; }
.top-bar-section ul { background: #fafafa;}
.top-bar-section ul li.active>a { background: #f0f0f0; }
.top-bar-section li a:not(.button) { background: #fafafa; }
.top-bar-section li a:not(.button):hover { background: #fafafa; }

.thumbnail { width: 80px; border-radius: 40px; margin-right: 20px; }
.page-title { display: inline-block; }
@media all and (max-width: 767px) {
  .thumbnail { display: block; margin: 10px auto;}
  .page-title { text-align: center; }
}

.post-date { color: #ccc; }
.single-post { margin-bottom: 60px; }
.single-post .post-date { text-transform: uppercase; text-align: center;}
.post-content { margin-bottom: 75px; }
.all-posts { height: 69px; }
.all-posts-enter, 
.all-posts-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
} 
 
.all-posts-leave.all-posts-leave-active,
.all-posts-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}
 
.all-posts-enter.all-posts-enter-active, 
.all-posts-leave {
  opacity: 1;
  width: 100%;
  height: 69px;
}

.sidebar {
  padding-top: 60px;
}

.portfolio h2 {
  font-weight: 600;
  text-align: left;
}

.portfolio img {
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.64);
  box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.64);
  display: block;
  margin-bottom: 30px;
}

.portfolio .tags {
  text-align: right;
}

.portfolio .tags .label {
  background-color: #47d17c;
}

.footer p {
  text-align: center;
}