.main-container { width: 960px; margin: 0 auto; padding: 20px; }
@media all and (max-width: 767px) { .main-container { width: auto; margin: 0; } }
body { font-family: 'Open Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Arvo', sans-serif; color: #666; }
h1 { font-size: 48px; }
h2 { margin-top: 36px; }
a { color: #09c; text-decoration: none; }
a:hover { color: rgb(0, 70, 94); }
li { list-style-type: none; }
.post-date { color: #666; }