.main-container { 
  /*width: 960px; */
  margin: 0 auto; 
  /*padding: 10px; */
}
@media all and (max-width: 767px) { .main-container { width: auto; margin: 0; } }
body { font-family: "proxima-nova", sans-serif; font-weight: 100; }
body.skip-animations * {
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -ms-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}
h1, h2, h3, h4, h5, h6 { font-family: "proxima-nova", sans-serif; color: #666; font-weight: 300; margin-top: 50px; }
h1 { font-size: 48px; }
h2 { margin-top: 42px; font-weight: 100; }
.single-post h2 {
  text-align: center;
  color: #47d17c;
}
a { color: #47d17c; text-decoration: none; transition: color 0.5s; -webkit-transition: color 0.5s; -moz-transition: color 0.5s;}
a:hover { color: #2eb863; }
.sidebar ul { list-style-type: none; padding-left: 0px; }
.sidebar li { padding-bottom: 10px; }
ul, ol { padding-left: 20px; }
p {
  font-weight: 300;
  color: #777;
}
img { margin: 0 auto; }

.top-bar { background: #fafafa; margin-bottom: 0; opacity: 0; }
.top-bar .name h1 a { color: #47d17c; }
.top-bar-section ul li a { text-transform: uppercase; letter-spacing: 1px; }
.top-bar-section ul li a:hover { color: #47d17c; }
.top-bar-section ul li.active>a, .top-bar-section ul li>a  { color: #999; }
.top-bar-section ul { background: #fafafa;}
.top-bar-section ul li.active>a { background: #f0f0f0; }
.top-bar-section li a:not(.button) { background: #fafafa; padding:0 20px; }
.top-bar-section li a:not(.button):hover { background: #fafafa; }
.top-bar .toggle-topbar.menu-icon a { color: #000; }
.top-bar.expanded .title-area { background-color: #fafafa; }
.top-bar.expanded .top-bar-section li a:not(.button) { padding: 10px 20px; }

.page-title { font-weight: 600; text-transform: uppercase; letter-spacing: 1px; }

.banner { 
  background-image: url(../img/banner-gray.jpg); 
  background-size: cover; 
  background-position: center 20%; 
  padding-top: 120px;
  padding-bottom: 30px; 
  margin-bottom: 30px; 
}
.title-container {
  opacity: 0;
}
.title-container .title-text { display: inline-block; }
.title-container .title-text h1, 
.title-container .title-text p { 
  margin: 0; 
  color: #fff; 
  text-shadow: 0px 0px 30px rgba(150, 150, 150, 1); ;
}
.title-container .title-desc {
  font-family: Georgia, sans-serif;
  font-style: italic;
}
.title-container .thumbnail { 
  width: 100px; 
  border-radius: 50%; 
  margin-right: 20px; 
  border: 3px solid #fff;
  vertical-align: top;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s;
}
.grayscale:hover {
  filter: none;
  -webkit-filter: none;
}
@media all and (max-width: 767px) {
  .title-container .thumbnail { display: block; margin: 10px auto;}
  .title-container { text-align: center; }
  .grayscale {
    filter: none;
    -webkit-filter: none;
  }
  /*h1, h2, h3, h4, h5, h6 { margin-top: 0; }*/
}

.post-date { color: #ccc; }
.single-post { margin-bottom: 60px; }
.single-post .post-date { text-transform: uppercase; text-align: center;}
.post-content { margin-bottom: 75px; opacity: 0; }

.all-posts { height: 69px; }
.all-posts h4 { margin-top: 30px; }
.all-posts-enter, 
.all-posts-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
} 
 
.all-posts-leave.all-posts-leave-active,
.all-posts-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}
 
.all-posts-enter.all-posts-enter-active, 
.all-posts-leave {
  opacity: 1;
  width: 100%;
  height: 69px;
}

.sidebar {
  padding-top: 60px;
}

.sidebar .recent-posts-title {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.sidebar .recent-posts-list {
  border-left: 5px solid #eee;
  padding-left: 10px;
}

.portfolio h2 {
  font-weight: 600;
  text-align: left;
}

.portfolio img { 
  margin-bottom: 30px;
  display: block;
  transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s;
  transform:scale(0.95, 0.95);
  -ms-transform:scale(0.95, 0.95); /* IE 9 */
  -moz-transform:scale(0.95, 0.95);
  -webkit-transform:scale(0.95, 0.95); /* Safari and Chrome */
}

.portfolio img:hover {
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.64);
  box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.64);
  transform:scale(1.0, 1.0);
  -ms-transform:scale(1.0, 1.0); /* IE 9 */
  -moz-transform:scale(1.0, 1.0);
  -webkit-transform:scale(1.0, 1.0); /* Safari and Chrome */
}

.portfolio .portfolio-item {
  opacity: 0;
}

.portfolio .row:not(:last-child) .portfolio-item {
  border-bottom: 1px solid #ccc;
}

.portfolio .tags {
  text-align: right;
}

.resume .resume-section {
  margin-bottom: 50px; 
}
.resume .resume-subsection {
  margin-bottom: 20px;
}
.resume .resume-subsection h2,
.resume .resume-subsection h3,
.resume .resume-subsection h4,
.resume .resume-subsection h5,
.resume .resume-subsection h6,
.resume .resume-subsection p {
  margin: 0;
}
.resume .resume-subsection h5 {
  font-weight: 600;
}
.resume strong {
  font-weight: 500;
}
.resume h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaa;
}
.resume .resume-section .date {
  color: #bbb;
}
.resume .awards {
  border-left: 5px solid #ccc;
}
.resume .year h3 {
  vertical-align: top;
  margin-top: 0;
}
.resume .award-section ul {
  list-style: none;
  padding-left: 10px;
}

.label {
  background-color: #47d17c;
}

.label:hover {
  transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s;
  background-color: #ccc;
  color: #000;
}

.footer {
  margin-top: 30px; 
}

.footer p {
  text-align: center;
}