.main-container { width: 960px; margin: 0 auto; padding: 20px; }
@media all and (max-width: 767px) { .main-container { width: auto; margin: 0; } }
body { font-family: 'Open Sans', sans-serif; }
body.skip-animations * {
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -ms-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}
h1, h2, h3, h4, h5, h6 { font-family: 'Arvo', sans-serif; color: #666; }
h1 { font-size: 48px; }
h2 { margin-top: 36px; }
a { color: #09c; text-decoration: none; }
a:hover { color: rgb(0, 70, 94); }
li { list-style-type: none; }
.post-date { color: #666; }

.all-posts { height: 69px; }

.all-posts-enter, 
.all-posts-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.all-posts-leave.all-posts-leave-active,
.all-posts-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.all-posts-enter.all-posts-enter-active, 
.all-posts-leave {
    opacity: 1;
    width: 100%;
    height: 69px;
}