:root {
  --ifm-color-primary: #ff940f;
  --ifm-color-primary-dark: #f38700;
  --ifm-color-primary-darker: #e67f00;
  --ifm-color-primary-darkest: #bd6900;
  --ifm-color-primary-light: #ffa02a;
  --ifm-color-primary-lighter: #ffa638;
  --ifm-color-primary-lightest: #ffb860;

  --ifm-font-size-base: 18px;
}
