<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Posts</h1>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    Search all posts: <input type="text" ng-model="query" />
    <!--Body content-->
    <div class="all-posts" ng-repeat="post in posts | orderBy:orderProp:true | filter: query" ng-animate=" 'all-posts' ">
      <h4><a href="#/{{post.post_id}}">{{post.title}}</a></h4>
      <p class="post-date">{{post.date}}</p>
    </div>
  </div>
</div>
