<div class="row luna-main-container portfolio">
  <div class="large-12 columns single-post">
    <h1 class="center page-title">Portfolio</h1>
    <p>Here's a collection of the <em>web</em> projects I have been involved in over the past few years. Haven't been doing mobile in awhile now. &gt;_&lt;</p>
    <hr/>
    <div class="row">
      <div class="large-8 large-centered columns portfolio-item">
        <h2>Una</h2>      
        <img class="grayscale" src="img/una.jpg" width="90%"/>
        <p><strong><a href="http://una-org.github.io/" target="_blank">Una</a></strong> is a free and open source Javascript library that allows developers to create interactive applications where multiple users can interact with large central displays in real-time using mobile devices. This project was completed in the course of CS3216 Software Development on Evolving Platforms and won the <strong>Best Project Award</strong> for STePS (NUS School of Computing Term Project Showcase) 2013/14 Semester I.</p>
        <p class="tags">
          <span class="round label">Node.js</span>
          <span class="round label">Socket.io</span> 
          <span class="round label">JavaScript</span> 
          <span class="round label">HTML5</span> 
          <span class="round label">CSS3</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns portfolio-item">
        <h2>Nutty Ninjas</h2>      
        <img class="grayscale" src="img/nutty-ninjas-1.jpg" width="90%"/>
        <img class="grayscale" src="img/nutty-ninjas-2.jpg" width="90%"/>
        <p><strong><a href="http://nuttyninjas.com/" target="_blank">Nutty Ninjas</a></strong> is a real-time shooter that brings the experience of social multiplayer gaming to a whole new level; it is a console-style game that can be played anywhere and anytime, simply with your computer and mobile devices. Multiple players can join a common gameplay screen just by using their mobile devices, and control their ninja character to unleash dangerous weapons at fellow players!</p>
        <p>It is developed using the cross-display library <a href="http://una-org.github.io/" target="_blank">Una</a></strong>. I played the role of UI/UX designer and front-end developer for this project.</p>
        <p class="tags">
          <span class="round label">Node.js</span>
          <span class="round label">Una</span> 
          <span class="round label">JavaScript</span> 
          <span class="round label">HTML5</span> 
          <span class="round label">CSS3</span>
          <span class="round label">Box 2D</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns portfolio-item">
        <h2>EasilyDo Corporate Site</h2>      
        <img class="grayscale" src="img/easilydo.jpg" width="90%"/>
        <p><strong><a href="http://www.easilydo.com" target="_blank">EasilyDo's</a></strong> corporate site was solely developed and maintained by me while I was an interning at EasilyDo. I also developed the site's plugins to maintain a responsive layout. A Wordpress theme was created for the EasilyDo blog so that it was consistent with the other static pages of the site.</p>
        <p class="tags">
          <span class="round label">Wordpress</span>
          <span class="round label">JavaScript</span>
          <span class="round label">HTML5</span> 
          <span class="round label">CSS3</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns portfolio-item">
        <h2>Corspedia</h2>      
        <img class="grayscale" src="img/corspedia.jpg" width="90%"/>
        <p><strong><a href="http://www.corspedia.com" target="_blank">Corspedia</a></strong> is an easy-to-use search engine for National University of Singapore's CORS Bidding Archives. It provides a clean and simple interface for students to search for the bidding history of any module. Built using AngularJS and Google App Engine.</p>
        <p class="tags">
          <span class="round label">JavaScript</span> 
          <span class="round label">Python</span> 
          <span class="round label">HTML5</span> 
          <span class="round label">CSS3</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns portfolio-item">
        <h2>Osmose</h2>      
        <img class="grayscale" src="img/osmose-1.jpg" width="90%"/>
        <img class="grayscale" src="img/osmose-2.jpg" width="90%"/>
        <p><strong><a href="http://osmose.soedar.com" target="_blank">Osmose</a></strong> is a platform to facilitate the interaction and sharing between students and instructors of a course. Students can ask questions, answer questions from their peers, and also share new findings with one another.</p>
        <p class="tags">
          <span class="round label">Sails.js</span>
          <span class="round label">Node.js</span>
          <span class="round label">JavaScript</span>
          <span class="round label">HTML5</span> 
          <span class="round label">CSS3</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns portfolio-item">
        <h2>#ifihadglass</h2>      
        <img class="grayscale" src="img/ifihadglass.jpg" width="90%"/>
        <p>My entry for Google's <strong>#ifihadglass</strong> competition where participants demonstrate potential uses for Google Glass and selected entries can be part of the Glass Explorer Program. I used jQuery and HTML5/CSS to simulate the Google glass interface to demonstrate potential use-cases of Google Glass. View the full site <strong><a href="http://yangshun.im/ifihadglass/" target="_blank">here</a></strong>.</p>
        <p class="tags">
          <span class="round label">JavaScript</span>
          <span class="round label">HTML5</span> 
          <span class="round label">CSS3</span>
        </p>
      </div>
    </div>
  </div>
</div>

