<div class="row luna-main-container resume">
  <div class="large-12 columns">
    <h1 class="center page-title">Resume</h1>
    <hr/>
    <div class="row">
      <div class="large-12 large-centered columns">
        <div class="resume-section">
          <h2>Education</h2>     
          <div class="resume-subsection"> 
            <h5>National University of Singapore</h5>
            <p class="date">2010 - 2015 (Expected)</p>
            <p>B. Computing, Computer Science. </p>
            <p>CAP: <strong>4.64/5.00</strong></p>
            <p>Focus areas in <strong>Interactive Media</strong> and <strong>Visual Computing</strong>.</p>
          </div>
          <div class="resume-subsection"> 
            <h5>Stanford University</h5>
            <p class="date">2012 - 2013</p>
            <p>Took the classes CS109 Introduction to Probability for Computer Scientists, MS&amp;E 178 Spirit of Entrepreneurship, MS&amp;E 472 Entrepreneurial Thought Leaders Seminar, MS&amp;E 271 Global Entrepreneurial Marketing via the Stanford Center for Professional Development.</p>
          </div>
        </div>

        <div class="resume-section">
          <h2>Teaching Courses</h2>     
          <div class="resume-subsection">
            <p>AY2014/15 Sem 1: <strong>CS3216 Software Development on Evolving Plaforms</strong> | Teaching Assistant</p>
            <p>AY2014/15 Sem 1: <strong>CS1010S Programming Methodology</strong> | Tutor</p>
            <p>AY2013/14 Sem 2: <strong>CS3217 Software Engineering on Modern Application Plaforms</strong> | Tutor</p>
            <p>AY2013/14 Sem 1: <strong>CS1010S Programming Methodology</strong> | Head Tutor</p>
            <p>AY2011/12 Sem 1: <strong>CS1020E Data Structures and Algorithm I</strong> | Teaching Assistant</p>
          </div>
        </div>

        <div class="resume-section">
          <h2>Professional Experience</h2>     
          <div class="resume-subsection"> 
            <h5>Game Producer Intern</h5>
            <h6>Singapore University of Technology and Design Game Lab</h6>
            <p class="date">May 2014 - Aug 2014 | Singapore</p>
            <p>Project lead in the creation of a Dynasty Warriors-like game for the iPad.</p>
          </div>
          <div class="resume-subsection"> 
            <h5>Software Engineering Intern</h5>
            <h6>EasilyDo Inc</h6>
            <p class="date">Aug 2012 - Jun 2013 | Mountain View, CA</p>
            <p>Front end developer in the core team for the <a href="https://itunes.apple.com/app/id481881465" target="_blank">iOS mobile app</a> and company's <a href="http://www.easilydo.com" target="_blank">homepage</a>. I was the sole person in-charge of maintaining, updating and improving the website built using Foundation 4, PHP and AngularJS. I also developed the site's plugins to maintain a responsive layout. Other responsibilities include developing in-house web tools to aid the product and engineering team in their daily workflow.</p>
          </div>
          <div class="resume-subsection"> 
            <h5>Software Developer</h5>
            <h6>Computing for Voluntary Welfare Organizations</h6>
            <p class="date">May 2012 - Jul 2012 | Singapore</p>
            <p>Worked in a team of 5 to build a web-based content management system in Drupal 7 for Feiyue Family Services Centre.Developed a staff permissions system for the administrators to assign roles and permissions to the various users involved in the system.</p>
          </div>

          <div class="resume-subsection"> 
            <h5>Boarding Councillor (Programmes)</h5>
            <h6>NUS High Boarding School</h6>
            <p class="date">May 2012 - Jul 2012 | Singapore</p>
            <p>Organised events and cared for the well-being of boarders in NUS High Boarding School. Designed posters and publicity materials for boarding events. Performed duty office duties, ensuring the security of premises and students.</p>
          </div>
        </div>

        <div class="resume-section award-section">
          <h2>Awards and Achievements</h2>  
          <div class="row">
            <div class="large-1 columns year"><h3>2014</h3></div>
            <div class="large-11 columns awards">
              <ul>
                <li><strong>Smart Port Hackathon 2014</strong>, Third Prize and Best Use of Data</li>
                <li><strong>Startup Asia Hackathon</strong>, HERE Maps API Prize</li>
                <li><strong>NUS School of Computing Term Project Showcase (4th STePS)</strong>, Best Project Award for CP3101A Global Open Source Project</li>
                <li><strong>NUS School of Computing Term Project Showcase (4th STePS)</strong>, Best Project Award for CS3218 Multimodal Processing in Mobile Platforms</li>
                <li><strong>Facebook Singapore Hackathon</strong>, Third Place</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="large-1 columns year"><h3>2013</h3></div>
            <div class="large-11 columns awards">
              <ul>
                <li><strong>NUS School of Computing Term Project Showcase (3rd STePS)</strong>, Best Project Award for CS3216 Software Development on Evolving Platforms</li>
                <li><strong>Apple WWDC 2013</strong> Student Scholarship</li>
                <li><strong>NUS Faculty of Engineering Design-Centric Programming T-shirt Design Competition</strong>, Winner</li>
                <li><strong>Photo Hack Day 4</strong>, Crowd Favorite and Aviary API Prize</li>
                <li><strong>Foursquare Hackathon 2013</strong>, Jury Prize and Game Prize</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="large-1 columns year"><h3>2012</h3></div>
            <div class="large-11 columns awards">
              <ul>
                <li><strong>IUMS 2017 Logo Design Competition</strong>, Runner-up</li>
                <li><strong>AngelHack 2012</strong>, Gimbal API Award</li>
                <li><strong>Health 2.0 Hackathon</strong>, 3rd Runner Up</li>
                <li><strong>PayPal Hackathon</strong>, People's Choice Award</li>
                <li><strong>NUS CS3217 Software Engineering on Modern Application Platforms, AY2011/12 Sem 2</strong>, "Letter of Commendation" for excellent performance in the course
                <li><strong>NUSSU Student Life Tee Design Competition</strong>, Winner</li>
                <li><strong>NUSSU Welfare Diary Design Competition</strong>, Winner</li>
                <li><strong>NUS Faculty of Engineering Design-Centric Curriculum T-shirt Design Competition</strong>, Winner</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="large-1 columns year"><h3>2011</h3></div>
            <div class="large-11 columns awards">
              <ul>
                <li><strong>NUS Faculty of Engineering</strong>, Dean’s List</li>
                <li><strong>NUS EG2604 Innovation Program AY2010/11 Sem 2</strong>, Merit Award and Best Poster Design Award</li>
                <li><strong>NUS-HTC Apprentice Challenge</strong>, Finalist</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="large-1 columns year"><h3>2010</h3></div>
            <div class="large-11 columns awards">
              <ul>
                <li><strong>NUS Kent Ridge Undergraduate Scholarship</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

